<!DOCTYPE html>
<html>
  <head>
    <title>Smart AC</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>">
          Notice: <%= value %>
          <div class="button"><%= button_to "Clear", admin_clear_notices_path, :method => "delete" %></div>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
